
/* --------------------------------------------------------------
 All Widths
-------------------------------------------------------------- */

/* --------------------------------------------
  global elements
-------------------------------------------- */



/* --------------------------------------------
  section-name elements
-------------------------------------------- */
/* sub-section description */


/* "sub-section title" */


/* --------------------------------------------
  
-------------------------------------------- */






/* --------------------------------------------
  sprites - move later
-------------------------------------------- */
.fivesteps_1_big {
  background-position: 0 0;
  width: 78px;
  height: 78px;
}
.fivesteps_1_small {
  background-position: -88px 0;
  width: 50px;
  height: 50px;
}
.fivesteps_2_big {
  background-position: -148px 0;
  width: 78px;
  height: 78px;
}
.fivesteps_2_small {
  background-position: -236px 0;
  width: 50px;
  height: 50px;
}
.fivesteps_3_big {
  background-position: -296px 0;
  width: 78px;
  height: 78px;
}
.fivesteps_3_small {
  background-position: -384px 0;
  width: 50px;
  height: 50px;
}
.fivesteps_4_big {
  background-position: -444px 0;
  width: 78px;
  height: 78px;
}
.fivesteps_4_small {
  background-position: -532px 0;
  width: 50px;
  height: 50px;
}
.fivesteps_5_big {
  background-position: -592px 0;
  width: 78px;
  height: 78px;
}
.fivesteps_5_small {
  background-position: -680px 0;
  width: 50px;
  height: 50px;
}
.alertbanner_icon {
  background-position: -740px 0;
  width: 52px;
  height: 52px;
}
.hero_next {
  background-position: -802px 0;
  width: 40px;
  height: 80px;
}
.hero_prev {
  background-position: -852px 0;
  width: 38px;
  height: 80px;
}
.howweareending_icon {
  background-position: -900px 0;
  width: 80px;
  height: 80px;
}
.mobile_menu_expand {
  background-position: -990px 0;
  width: 24px;
  height: 18px;
}
.mobile_menu_search {
  background-position: -1024px 0;
  width: 21px;
  height: 21px;
}
.textalerts_icon {
  background-position: -1775px 0;
  width: 78px;
  height: 78px;
}
.util_find {
  background-position: -1863px 0;
  width: 9px;
  height: 14px;
}
.util_search {
  background-position: -1882px 0;
  width: 14px;
  height: 14px;
}
.zip_search_icon {
  background-position: -1906px 0;
  width: 17px;
  height: 25px;
}

/* --------------------------------------------------------------
 Desktop Only: >= 992px
-------------------------------------------------------------- */
@media only screen and (min-width: 992px) {

}
/* --------------------------------------------
  special section-name styles
-------------------------------------------- */
@media only screen and (min-width: 1101px) and (max-width: 1250px) {

}
@media only screen and (min-width: 992px) and (max-width: 1100px) {

}


/* --------------------------------------------------------------
 Tablet Only: 768px - 991px
-------------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* --------------------------------------------
    section-name elements
  -------------------------------------------- */
    /* sub-section description */


    /* "sub-section title" */

}
  /* --------------------------------------------
    special section-name elements
  -------------------------------------------- */
  @media only screen and (min-width: 812px) and (max-width: 991px) {

  }
  @media only screen and (min-width: 811px) and (max-width: 913px) {

  }



/* --------------------------------------------------------------
  Mobile Only: ~320px - 767px
-------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

  /* --------------------------------------------
    section-name elements
  -------------------------------------------- */
    /* sub-section description */


    /* "sub-section title" */

}
  /* --------------------------------------------
    special section-name elements
  -------------------------------------------- */
  @media only screen and (min-width: 610px) and (max-width: 767px) {

  }
  @media only screen and (min-width: 501px) and (max-width: 609px) {

  }